/* Normal Layout 普通布局元素 */
.layout-a {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    padding: 10px;
}

.layout-a .header {
    display: flex;
    align-items: center;
}

.layout-a .header .avatar {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    overflow: hidden;
}

.layout-a .header .avatar img {
    width: 100%;
    height: 100%;
}

.layout-a .header .info {
    margin-left:  10px;
    flex: 1;
}

.layout-a .header .info .name,
.layout-a .header .info .desc {
    display: inline-block;
    min-height: 20px;
    width: 100%;
    margin: 4px 0;
}

.layout-a .content {
    margin-top: 10px;
}

.layout-a .content p{
    min-height: 20px;
    margin: 6px 0;
}

/* List Layout 列表元素 */
.ranks {
    padding: 0;
    width: 400px;
}

.ranks-i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: rgb(255, 186, 0);
    border-radius: 16px;
    margin: 22px 0;
}
.ranks-i .avatar {
    position: relative;
    margin: 0 10px;
}
.ranks-i .avatar .index {
    position: absolute;
    font-weight: bold;
    font-size: 38px;
    z-index: 1;
    width: 100%;
    text-align: center;
    transform: translateY(-32%);
    color: #fff714;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 0px 0px rgb(250, 111, 19),
                -1px 0px 0px rgb(250, 111, 19),
                0px 1px 0px rgb(250, 111, 19),
                0px -1px 0px rgb(250, 111, 19);
}
.ranks-i .avatar .pic {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(209, 192, 165);
    margin: 0 auto;
    border: 2px solid #B5B5B5;
}
.ranks-i .avatar .pic img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(209, 192, 165);
}

.ranks-i .info {
    width: 330px;
    padding-right: 0.2rem;
}

.ranks-i .info .details, 
.ranks-i .info .desc {
    min-height: 20px;
    margin: 4px 0;
}

.ranks-i .info .details .label {
    display: inline-block;
    font-size: 14px;
    color: #fff;
}

.ranks-i .info .details .total {
    font-size: 22px;
    color: #fff714;
    font-weight: bold;
}

.ranks-i .info .details i {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    margin-left: 4px;
}

.ranks-i .btn-follow {
    width: 194px;
    height: 60px;
    margin: 0 10px;
    background: greenyellow;
    border-radius: 10px;
}